.sidebar {
  width: 50px;
  background: #ffffff;
  border-right: 1px solid #e0e0e0;
  height: 100vh;
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  &-nav {
    &-list {
      list-style-type: none;
      padding: 0;

      &-item {
        margin: 10px 0;

        &-link {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: black;
          justify-content: center;

          .sidebar-icon {
            fill: red;
            width: 24px;
            height: 24px;
            margin-right: 8px;
            opacity: 1;
          }
        }
      }
    }
  }
}
